* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Spectral', sans-serif;
}

:root {
    --white: #fff;
    --pink:  #f77092;
    --wine:  #980328;
    --darkwine: #77021f;
    --grey:  #628891;
    --light-grey: #f0f0f0;
}

footer {
    background-color: var(--wine);
    min-height: 400px;
    height: 400px;
}

header {
    background-color: var(--wine);
}

input {
    text-transform: uppercase;
    font-size: 0.9rem;
    border: none;
}


input[type=text] {
    background-color: var(--light-grey);
    color: var(--grey);
    font-family: 'Inter', sans-serif;
    padding: 5px 10px;
    margin: 5px 10px;
}

input[type=button] {
    background-color: var(--wine);
    color: var(--white);
    padding: 15px 30px;
    margin: 10px auto;
    width: 85%;

}

input[type=button]:hover{
    background-color: var(--darkwine);
}

.content {
    margin-top: 5rem;
}

.footer-title{
    text-align: left;
    text-transform: uppercase;
    font-size: 1.5rem;
    color: var(--white);
    font-weight: 700;
    margin: 10px 0;
}

.form-style {
    height: 200px;
    width: 85%;
    margin: -30px auto;
    background-color: var(--white);
}

.form-title {
    color: var(--wine);
    font-size: 1.3rem;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}

.link {
    text-decoration-line: none;
    color: var(--white);
    font-weight: 700;
}

.link:hover{
    color: var(--pink);
}

.square {
    border: 1px solid var(--wine);
    height: 11.9rem;
}

.text-description {
    font-size: 1rem;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.7px;
    text-align: justify;
}

.text-inner-line {
    color: var(--wine);
    text-transform: uppercase;
    font-size: 1.3rem;
    text-align: center;
    overflow: hidden;
}

.text-inner-line::before, .text-inner-line::after{
    background-color: var(--wine);
    content: "";
    display: inline-block;
    height: 0.5px;
    position: relative;
    vertical-align: middle;
    width: 50%;
}

.text-inner-line::before {
    right: 0.5em;
    margin-left: -40%;
}

.text-inner-line::after {
    left: 0.5em;
    margin-right: -40%;
}

.text-title {
    text-align: left;
    text-transform: uppercase;
    font-size: 1.75rem;
    font-weight: 700;
    margin: 25px 0;
}

#about {
    min-height: 450px;
    height: 450px;
}

#hero h1 {
    color: var(--wine);
    font-size: 3rem;
    font-weight: bold;
    text-transform: uppercase;
}

#hero {
    background-image: url(/assets/img/forum-1.png);
    background-size: cover;
    height: 700px;
    color: var(--white);
    font-size: 1.5rem;
}

#hero-button {
    color: var(--white); 
    background-color: #860223; 
    border: 1px solid var(--white);
    text-transform: uppercase;
}

#hero-button:hover{
    background-color: var(--darkwine);
}

#hero-image {
    margin-right: 400px;
    width: 900px;
    height: 600px;
}

#lawyer {
    background-color: var(--light-grey);
    min-height: 450px;
    height: 450px;
}

#lawyer-info {
    list-style-type: square;
}

#lawyer-section-image {
    width: 400px;
    height: 260px;
}

#logo{
    width: 50px;
    height: 50px;
}

#work {
    min-height: 600px;
    height: 600px;
}

/* '******************************************************************************* */
/* '*******************              RESPONSIVE          ************************** */
/* '******************************************************************************* */

@media only screen and (max-width: 576px) {

    input {
        font-size: 0.8rem;
    }
    
    .text-inner-line {
        font-size: 1.2rem;
    }
    
    .square {
        height: 11rem;
    }
    
    
    .form-title {
        font-size: 1.2rem;
    }

    .text-title {
        font-size: 1.2rem;
    }

    .text-description {
        font-size: 0.8rem;
    }

    #hero {
        font-size: 0.8rem;
    }
    
    #hero h1 {
        font-size: 2rem;

    }
    
    #lawyer-section-image {
        width: 350px;
        height: 210px;
        margin: 50px 10px 20px 10px;
    }
    
    #about {
        min-height: 450px;
        height: 450px;
    }
    
    #work {
        min-height: 600px;
        height: 600px;
    }
    
}



